.live-notify-fed {
    background: red;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;

    .live-notification-text-container {
        height: 0px;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;

        &.active {
            height: 60px;
            padding: 20px 0;
        }
        .notification-type {
            text-transform: capitalize;
        }
        .notification-type {
            text-transform: capitalize;
        }
        h3 {
            margin: 0;
            padding: 0;
        }
    }
    /** Notification Type **/
    &.weather {
        background: lightblue;
        color: #444;
    }
}