<form class="form col-sm-12" ng-submit="updateNotification()">
    <div class="row">
        <div class="col-sm-4">
            <h3>Notification Settings</h3>
            <div ng-show="save_notify">saved</div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label>Notification Active?</label>
                <select class="form-control" ng-model="notify.active">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group" ng-show="notify.active == '1'">
                <label>Notification Type</label>
                <select class="form-control" ng-model="notify.type">
                    <option value="weather">Weather</option>
                    <option value="security">Security</option>
                    <option value="class-registration">Class or Registration</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group" ng-show="notify.active == '1'">
                <label>Notification Text</label>
                <input class="form-control" ng-model="notify.text" placeholder="Text for notification" ng-required="notify.active == '1'" />
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary">Update Notification</button>
            </div>
        </div>
    </div>
</form>